header {
  height: 100px;
}

header h1 {
  padding-top: 45px;
}

aside {
  height: 600px;
  width: 200px;
  float: left;
}

aside p {
  padding-top: 295px;
}

.inner-main {
  float: right;
}

.two-col {
  width: 760px;
}

.two-col section {
  height: 200px;
  width: 380px;
  float: left;
}

.two-col p {
  padding-top: 95px;
}

.four-col section {
  height: 250px;
  width: 190px;
  margin: 0;
  float: left;
}

.four-col p {
  padding-top: 120px
}

footer {
  height: 150px;
  width: 760px;
  float: right;
}

footer p {
  padding-top: 70px;
}
