#container {
  display: grid;
  max-width: 960px;
  margin: 0 auto;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
  "header header header header header"
  "aside inner-main inner-main inner-main inner-main"
  "aside inner-main inner-main inner-main inner-main"
  "aside footer footer footer footer";
}

header {
  grid-area: header;
  height: 100px;
}

header h1 {
  padding-top: 45px;
}

aside {
  grid-area: aside;
  height: 600px;
  width: 200px;
}

aside p {
  padding-top: 295px;
}

.inner-main {
  grid-area: inner-main;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "two-col-a two-col-a two-col-b two-col-b"
  "four-col-a four-col-b four-col-c four-col-d";
  height: 450px;
}

#c {
  grid-area: two-col-a;
  height: 200px;
  width: 380px;

}

#d {
  grid-area: two-col-b;
  height: 200px;
  width: 380px;

}

#e {
  grid-area: four-col-a;
  width: 190px;
  height: 250px;
}

#f {
  grid-area: four-col-b;
  width: 190px;
  height: 250px;
}

#g {
  grid-area: four-col-c;
  width: 190px;
  height: 250px;
}

#h {
  grid-area: four-col-d;
  width: 190px;
  height: 250px;
}


footer {
  grid-area: footer;
  height: 150px;
  width: 760px;

}

footer p {
  padding-top: 70px;
}


@media only screen and (max-width: 768px) {
  body {
    width: 480px;
  }
  
  aside {
    height: 150px;
    width: 480px;

  }

  .inner-main {

  }


  footer {
    height: 80px;
    width: 480px;
  }
}